@import "./sassConfig.scss";
@import "./elementui.scss";
@import "./normalize.scss";
@import "./svgicon.scss";

// float
.pull-right { float: right; }

.padding-top-30{ padding-top: 30px; }

.mr-10{ margin-right:10px; }

.width-80{ width:80px; }
.width-100{ width:100px; }
.width-120{ width:120px; }